$chatbot-bg-color: white;
$user-msg-color: #606FEE;
$chatbot-msg-color: #FEFEFE;
$IBM-Grey-10: #f4f4f4;
$IBM-Grey-90: #262626;
$IBM-Grey-100: #161616;

//@font-face{
//    font-family: 'IBM Plex Sans', sans-serif;
//    src: url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap)
//}


body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbarHeader{
    width: 100vw;
    height: 5vh;
    background-color: $IBM-Grey-90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
}

.navbarTitle{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: white;
}

.navbarButton{
    height: 4vh;
    width: 100px;
    background-color: #606fee;
    border: none;
    border-radius: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.generalBox{
    width: 1000px;
    height: 95vh;
    background-color: $IBM-Grey-10;
}

.chatBox{
    overflow: auto;
    height: 85vh;
    padding-top: 5px;
}

.messageDiv{
    width: 100%;
    padding: 2px;
    display: flex;
}

.messageDivLeft{
    justify-content: flex-start;
}

.messageDivRight{
    justify-content: flex-end;
}

.messageBox{
    height: auto;
    max-width: 450px;

    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px 5px 15px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.messageBoxRight{
    background-color: $user-msg-color;
    color: white;
    border-radius: 30px 30px 0px 30px;
}

.messageBoxLeft{
    background-color: $chatbot-msg-color;
    border-radius: 30px 30px 30px 0px;
}

.messageText{
    height: auto;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.messageBackgroundDiv{
    border-radius: 20px;
    background-color: lightgrey;
}

.profilePicture{
    border-radius: 50%;
    height: 50px;
    width: auto;
    margin-top: auto;
}

.HR{
    width: 80%;
}

.submitDiv{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more-button{
    margin-top: 5px;
}

.textbox{
    height: 4vh;
    width: 90%;
    border: solid, 2px, $IBM-Grey-90;
    border-radius: 15px;
    margin: 0 10px 0 10px;
    padding: 10px;
}

.submitButton{
    height: 4vh;
    width: 4vh;
    border-radius: 20px;
    padding: 0 5px 0 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.fa-paper-plane{
    color: white;
    margin-right: 2px;
}

.thumb-button{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.thumb-pressed{
    background-color: darkgrey;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .generalBox {
        width: 100%;
    }
    
  }